.block{
    background-color: yellow;
    width: 350px;
    height: 220px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border: 2px dotted red;
}

body{
    background-color: pink;
}


